* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    outline: none;
}

:root {
    --white: white;
    --regular-purple: #771AC9;
    --regular-light-purple: #821DDB;
    --light-purple: #8D1CF5;
    --grey: #F0F1F5;
    --black: #202020;
    --tag-grey: #342745;
    --tag-regular-purple: #512090;
    --tag-light-purple: #9060CB;
    --tag-white-purple: #B8A0D5;
}


body {
    display: flex;
    flex-direction: column;
}

